﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <form id="frm-customer" asp-controller="customer" asp-action="add">
            <div class="card">
                <div class="card-header">
                    <p class="h1">Customer Add</p>
                </div>
                <div class="card-body">
                    <input type="hidden" name="CreateBy" value="1"/>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Nama <span class="text-danger"> *</span></span>
                        <input type="text" class="col-9 form-control" placeholder="Input Customer Name..." aria-label="Name" name="Name" aria-describedby="basic-addon1" required> 
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Email <span class="text-danger"> *</span></span>
                        <input type="email" class="col-9 form-control" placeholder="Input Customer Email..." aria-label="Email" name="Email" aria-describedby="basic-addon1" required> 
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Password <span class="text-danger"> *</span></span>
                        <input type="password" class="col-9 form-control" placeholder="Input Customer Password..." aria-label="Password" name="Password" aria-describedby="basic-addon1" id="password" required> 
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Address <span class="text-danger"> *</span></span>
                        <input type="text" class="col-9 form-control" placeholder="Input Customer Address..." aria-label="Address" name="Address" aria-describedby="basic-addon1" required> 
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Phone</span>
                        <input type="text" class="col-9 form-control" placeholder="Input Customer Phone..." aria-label="Phone" name="Phone" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Role Id <span class="text-danger"> *</span></span>
                        <input type="number" class="col-9 form-control" placeholder="Input Customer Role Id..." aria-label="RoleId" name="RoleId" aria-describedby="basic-addon1" required>
                    </div>
                    <div>
                        <ul id="errorContainer"></ul>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="input-group-text btn btn-primary" id="btnSubmit"><i class="fa-solid fa-floppy-disk"></i>  Submit</button>
                        <button class="btn btn-primary" type="button" id="btnLoading" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");

    $("#btnLoading").hide();

    $.validator.addMethod("strongPassword", 
        function (value, el) {
            return (/^(?=.*[!@@#$%^&*\/])(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(.{8,20})$/.test(value));
        },
        function (chkRes, el) {
            let pass = $(el).val();
            // console.log(pass);
            let txtAlert = "";
            if (!(/^(?=.*[!@@#$%^&*.\\/])/.test(pass))) {
                txtAlert += `<li class="text-black"><p class="m-0 text-danger">Customer Password must contained at least one special characters (!@@#$%^&*.\\/)</p> </li>`;
            }
            if (!(/^(?=.*[0-9])/.test(pass))) {
                txtAlert += `<li class="text-black"><p class="m-0 text-danger">Customer Password must contained at least one number characters [0-9] </p> </li>`;
            }
            if(!(/^(?=.*[a-z])/.test(pass))){
                txtAlert += `<li class="text-black" > <p class="m-0 text-danger" >Customer Password must contained at least one normal alphabet characters[a - z] </p> </li>`;
            }
            if (!(/^(?=.*[A-Z])/.test(pass))) {
                txtAlert += `<li class="text-black"><p class="m-0 text-danger">Customer Password must contained at least one capital alphabet characters [A-Z] </p> </li>`;
            }
            if (!(/^(.{8,20})$/.test(pass))) {
                txtAlert += `<li class="text-black" > <p class="m-0 text-danger" >Customer Password length must between 8 to 20 characters</p> </li>`;
            }
            
            if (txtAlert == "") {
                return false;
            }
            else{
                return txtAlert;
            }
        }
    );

    $("#frm-customer").validate({
        errorClass: "text-danger",
        errorLabelContainer:"#errorContainer",
        wrapper:"li",
        rules: {
            Name: {
                "minlength": 3,
                "maxlength": 50
            },
            Email: {
                "maxlength": 50
            },
            Password: {
                // "minlength": 8,
                "strongPassword" : true
            },
            Address: {
                "minlength": 3
            }
        },
        messages: {
            Name: {
                "required":"Customer Name is Required!",
                "minlength": "Customer Name must be at least 3 characters",
                "maxlength": "Customer Name must not exceed 50 characters"
            },
            Email: {
                "required": "Customer Email is Required!",
                "maxlength": "Customer Email must not exceed 50 characters"
            },
            Password: {
                "required": "Customer Password is Required!"
                // "minlength": "Customer Password must be at least 8 characters",
            },
            Address: {
                "required": "Customer Address is Required!",
                "minlength": "Customer Address must be at least 3 characters"
            },
            RoleId: {
                "required": "Customer Role is Required!"
            }
        }
    });

    $("#frm-customer").submit(function (event) {
        //Disable form submit
        event.preventDefault();
        if ($("#frm-customer").valid()) {
            $.ajax({
                url: '/Customer/Add',
                type: 'post',
                data: $("#frm-customer").serialize(),
                dataType: 'json',
                beforeSend: function () {
                    //Proses before send data
                    $("#btnSubmit").hide();
                    $("#btnLoading").show();
                },
                success: function (response) {
                    // debugger;
                    //Proses success send data
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        location.reload();
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: function (errResponse) {
                    debugger;
                }

            })
        }

    });
</script>