﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblMCustomer?;
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <form id="frm-customer" asp-controller="customer" asp-action="edit">
            <div class="card">
                <div class="card-header">
                    <p class="h1">Customer Edit</p>
                </div>
                <div class="card-body">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="UpdatedBy" value="2" />
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Nama <span class="text-danger"> *</span></span>
                        <input type="text" class="col-9 form-control" placeholder="Input Customer Name..." aria-label="Name" name="Name" aria-describedby="basic-addon1" value="@Model.Name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Email <span class="text-danger"> *</span></span>
                        <input type="email" class="col-9 form-control" placeholder="Input Customer Email..." aria-label="Email" name="Email" aria-describedby="basic-addon1" value="@Model.Email" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Password <span class="text-danger"> *</span></span>
                        <input type="password" class="col-9 form-control" placeholder="Input Customer Password..." aria-label="Password" name="Password" aria-describedby="basic-addon1" value="@Model.Password" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Address <span class="text-danger"> *</span></span>
                        <input type="text" class="col-9 form-control" placeholder="Input Customer Address..." aria-label="Address" name="Address" aria-describedby="basic-addon1" value="@Model.Address" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Phone</span>
                        <input type="text" class="col-9 form-control" placeholder="Input Customer Phone..." aria-label="Phone" name="Phone" aria-describedby="basic-addon1" value="@Model.Phone">
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Role Id <span class="text-danger"> *</span></span>
                        <input type="number" class="col-9 form-control" placeholder="Input Customer Role Id..." aria-label="RoleId" name="RoleId" aria-describedby="basic-addon1" value="@Model.RoleId" required>
                    </div>
                    <div>
                        <ul id="errorCointainer"></ul>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="input-group-text btn btn-primary" id="btnEdit"><i class="fa-solid fa-floppy-disk"></i>  Edit</button>
                        <button class="btn btn-primary" type="button" id="btnLoading" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                   
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");
    $("#btnLoading").hide();

    $("#frm-customer").validate({
        errorClass: "text-danger",
        errorLabelContainer: "#errorCointainer",
        wrapper: "li",
        rules: {
            Name: {
                "minlength": 3,
                "maxlength": 50
            },
            Email: {
                "maxlength": 50
            },
            Address: {
                "minlength": 3
            }
        },
        messages: {
            Name: {
                "required": "Customer Name is Required!",
                "minlength": "Variant Name must be at least 3 characters",
                "maxlength": "Variant Name must not exceed 50 characters"
            },
            Email: {
                "required": "Customer Email is Required!",
                "maxlength": "Variant Name must not exceed 50 characters"
            },
            Password: {
                "required": "Customer Password is Required!"
            },
            Address: {
                "required": "Customer Address is Required!",
                "minlength": "Variant Name must be at least 3 characters"
            },
            RoleId: {
                "required": "Customer Role is Required!"
            }
        }
    });

    $("#frm-customer").submit(function (event) {
        //Disable form submit
        event.preventDefault();
        if ($("#frm-customer").valid()) {
            $.ajax({
                url: '/Customer/Edit',
                type: 'post',
                data: $("#frm-customer").serialize(),
                dataType: 'json',
                beforeSend: function () {
                    //Proses before send data
                    $("#btnEdit").hide();
                    $("#btnLoading").show();
                },
                success: function (response) {
                    // debugger;
                    //Proses success send data
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        location.reload();
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: function (errResponse) {
                    debugger;
                }

            })
        }

    });
</script>