﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //GET ALERT MESSAGE FROM SESSION
    ViewBag.InfoMsg = Context.Session.GetString("infoMsg") ?? string.Empty;
    ViewBag.WarnMsg = Context.Session.GetString("warnMsg") ?? string.Empty;
    ViewBag.ErrMsg = Context.Session.GetString("errMsg") ?? string.Empty;

    //RESET ALERT MESSAGE FROM SESSION
    Context.Session.SetString("infoMsg", string.Empty);
    Context.Session.SetString("warnMsg", string.Empty);
    Context.Session.SetString("errMsg", string.Empty);
}

<!-- Alert -->
<div id="alertPlaceHolder">

</div>


<script>
    function alert(message, type) {
        $("#alertPlaceHolder").append(`
                        <div class="alert alert-${type} alert-dismissible" role="alert">
                        <i class="fa-solid fa-circle-info text-${type}"></i>
                        <span>${message}</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                `);
    }
    $(document).ready(() => {
       

        if ("@ViewBag.InfoMsg" != "") alert("@Html.Raw(ViewBag.InfoMsg)", "info");
        if ("@ViewBag.WarnMsg" != "") alert("@Html.Raw(ViewBag.WarnMsg)", "warning");
        if ("@ViewBag.ErrMsg" != "") alert("@Html.Raw(ViewBag.ErrMsg)", "danger");
    })
</script>