﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">XPOS336</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 align">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @if(Context.Session.GetInt32("custRoleId") == 1)
                    {
                        <div class="dropdown ">
                            <button class="btn dropdown-toggle m-0 border-0 p-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark dropdown-item " asp-area="" asp-controller="Category" asp-action="Index">
                                        <div class="d-flex align-items-center">
                                            <div class="the-icons d-flex justify-content-center "><i class="fa-solid fa-list "></i></div>
                                            <div>Category</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customer" asp-action="Index">
                                        <div class="d-flex align-items-center">
                                            <div class="the-icons d-flex justify-content-center "><i class="fa-solid fa-user "></i></div>
                                            <div>Customer</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">
                                        <div class="d-flex align-items-center">
                                            <div class="the-icons d-flex justify-content-center "><i class="fa-solid fa-bag-shopping"></i></div>
                                            <div>Product</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Variant" asp-action="Index">
                                        <div class="d-flex align-items-center">
                                            <div class="the-icons d-flex justify-content-center "><i class="fa-solid fa-layer-group "></i></div>
                                            <div>Variant</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown ">
                            <button class="btn dropdown-toggle m-0 border-0 p-2" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Transaction
                            </button>
                            <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton2">
                                <li class="nav-item ">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Order" asp-action="Index">
                                        <div class="d-flex align-items-center">
                                            <div class="the-icons d-flex justify-content-center "><i class="fa-solid fa-cart-shopping"></i></div>
                                            <div>Order</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Order" asp-action="History">
                                        <div class="d-flex align-items-center">
                                            <div class="the-icons d-flex justify-content-center "><i class="fa-solid fa-file-invoice-dollar"></i></div>
                                            <div>Order History</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </ul>
            </div>
            <div>
                @if (Context.Session.GetString("custName") != null)
                {
                    <div class="dropdown text-end">
                        <button class="btn dropdown-toggle m-0 border-0 p-2" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            @Context.Session.GetString("custName") (@Context.Session.GetInt32("custRoleId"))
                        </button>
                        <ul class="dropdown-menu p-2 w-100" aria-labelledby="dropdownMenuButton2">
                            <li class="nav-item ">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="auth" asp-action="profile" asp-route-custId="@Context.Session.GetInt32("custId")">
                                    <div class="d-flex align-items-center">
                                        <div class="the-icons d-flex justify-content-center "><i class="fa-solid fa-user"></i></div>
                                        <div>Profile</div>
                                    </div>
                                </a>
                            </li>
                            <hr />
                            <li class="nav-item bg-danger  rounded">
                                <a class="nav-link text-white dropdown-item" asp-area="" asp-controller="auth" asp-action="logout">
                                    <div class="d-flex align-items-center">
                                        <div class="the-icons d-flex justify-content-center "><i class="fa-solid fa-right-from-bracket"></i></div>
                                        <div>Logout</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mx-2">
                        @Context.Session.GetString("custEmail");
                    </div>
                }
                else
                {
                    <a asp-controller="auth" asp-action="index" id='btn-login' class='btn btn-primary'>LOGIN</a>
                }
            </div>
            
        </div>
    </nav>
</header>

<script>
    // $("#btn-login").click(function(e){
    //     location.replace("/Auth/Index");
    // })
</script>