﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>HALO</h1>
     @RenderBody()
     @* @IgnoreBody() *@
</div>