﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMTblTOrderDetail>?
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center align-middle">Product Name</th>
                    <th class="text-center align-middle">Price</th>
                    <th class="text-center align-middle">Quantity</th>
                    <th class="text-center align-middle">Amount</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (VMTblTOrderDetail data in Model)
                    {
                        <tr>
                            <td class="text-center align-middle">@data.ProductName</td>
                            <td class="text-center align-middle">@string.Format("{0:N0}", data.Price)</td>
                            <td class="text-center align-middle">@data.Qty</td>
                            <td class="text-center align-middle">@string.Format("{0:N0}", (data.Price * data.Qty))</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center align-middle fw-bold" colspan="2">TOTAL</td>
                    <td class="text-center align-middle">@ViewBag.TotalProduct</td>
                    <td class="text-center align-middle">@string.Format("{0:N0}",ViewBag.EstimatedPrice)</td>
                </tr>
            </tfoot>
        </table>
        
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-primary" id="btn-save" title="Save" data-ischeckedout="0">
            <i class="fa-solid fa-save"></i> Save
        </button>
        <button class="btn btn-success" id="btn-check-out" title="CheckOut" data-ischeckedout="1">
            <i class="fa-solid fa-shopping-bag"></i> Checkout
        </button>
    </div>
</div>


<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");

    $("#btn-save").click(function (e) {
        let isCheckedOut = parseInt($(this).data("ischeckedout"));

        $.ajax({
            url: "/Order/Save",
            type:"post",
            data: {
                "listCart" : listCart,
                "totProduct": @ViewBag.TotalProduct,
                "estPrice": @ViewBag.EstimatedPrice,
                "createBy": 1,
                "custId":1

            },
            dataType:"json",
            beforeSend: () => { },
            success: function (response) {
                if (response.statusCode == 200 || response.statusCode == 201) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message)
                    debugger;
                }
            },
            error: function (errResponse) {
                console.erro(errResponse);
                debugger;
            }
        })
    })

    $("#btn-check-out").click(function (e) {
        let isCheckedOut = parseInt($(this).data("ischeckedout"));

        $.ajax({
            url: "/Order/CheckedOut",
            type: "post",
            data: {
                "listCart": listCart,
                "totProduct": @ViewBag.TotalProduct,
                "estPrice": @ViewBag.EstimatedPrice,
                "createBy":1,
                "custId": 1
                },
            dataType: "json",
            beforeSend: () => { },
            success: function (response) {
                if (response.statusCode == 200 || response.statusCode == 201) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message)
                    debugger;
                }
            },
            error: function (errResponse) {
                console.erro(errResponse);
                debugger;
            }
        })
    })
</script>