﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMTblTOrder>?
@{
    ViewData["Title"] = "Order History Page";
}

<div class="card">
    <div class="card-header">
        <p class="h1">Order History Page</p>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-4">
            <div>
                <button id="btn-add-order" type="button" class="btn btn-success mb-3 " title="Add"><strong>+</strong></button>
            </div>
            <div>
                <form id="frmFilter" asp-controller="Order" asp-action="History">
                    <div class="input-group mb-3">
                        <input id="filter" name="filter" type="text" class="form-control" placeholder="Search Order History" value="@ViewBag.Filter">
                        <button type="submit" class="input-group-text btn btn-secondary" id="iSearch"><i class="fa-solid fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center align-middle">Date Order</th>
                        <th class="text-center align-middle">Transaction Code</th>
                        <th class="text-center align-middle">Amount</th>
                        <th class="text-center align-middle">Quantity</th>
                        <th class="text-center align-middle">Status</th>
                        <th class="text-center align-middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (VMTblTOrder data in Model)
                        {
                            <tr>
                                <td class="text-center align-middle">@(data.CreateDate?.ToString("dd MMM yyyy"))</td>
                                <td class="text-center align-middle">@data.TrxCode</td>
                                <td class="text-center align-middle">@string.Format("{0:N0}", data.Amount)</td>
                                <td class="text-center align-middle">@(data.TotalQty)</td>
                                <td class="text-center align-middle"><i class="fa-solid @(data.IsCheckout ? "fa-check text-success" : "fa-multiply text-danger")"></i></td>
                                <td class="text-center align-middle">
                                    <button class="btn btn-primary" id="btn-detail-@data.Id" data-id="@data.Id" type="button" data-bs-toggle="collapse" data-bs-target="#details-row-@data.Id" aria-expanded="false" aria-controls="details-row-@data.Id">
                                        <i class="fa-solid fa-caret-down"></i>
                                        Detail
                                    </button>
                                </td>
                            </tr>
                            <tr id="details-row-@data.Id" class="collapse bg-primary p-2 text-dark bg-opacity-10">
                                <td colspan="6">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center align-middle">Product Name</th>
                                                <th class="text-center align-middle">Price</th>
                                                <th class="text-center align-middle">Quantity</th>
                                                <th class="text-center align-middle">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(VMTblTOrderDetail orderDetail in data.orderDetail)
                                            {
                                                <tr>
                                                    <td class="text-center align-middle">@orderDetail.ProductName</td>
                                                    <td class="text-center align-middle">@orderDetail.Price.ToString("N0")</td>
                                                    <td class="text-center align-middle">@orderDetail.Qty</td>
                                                    <td class="text-center align-middle">@((orderDetail.Price * orderDetail.Qty).ToString("N0"))</td>
                                                </tr>
                                            }
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr >
                                                <td colspan="4" class="text-end">
                                                    @if (data.IsCheckout == false)
                                                    {
                                                        <button type="submit" class="btn btn-success btn-check-out" data-orderid ="@data.Id" id="btn-check-out-@data.Id"><i class="fa-solid fa-shopping-bag"></i>  Check Out</button>
                                                        <button type="button" class="btn btn-danger btn-cancel" data-orderid="@data.Id" id="btn-cancel-@data.Id"><i class="fa-solid fa-circle-xmark"></i>  Cancel</button>
                                                    }
                                                    else
                                                    {
                                                        <div></div>
                                                    }
                                                </td>
                                            </tr>
                                            
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">Data tidak ditemukan</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $("#btn-add-order").click(()=>{
        location.replace("/Order/Index");
    })

    $(".btn-check-out").click(function(e){
        let orderId = $(this).data("orderid");
        console.log(orderId);

        $.ajax({
            url: "/Order/CheckedOutEdit",
            type:"post",
            data: {
                "orderHeaderId": orderId,
                "updateBy": 2
            },
            dataType:"json",
            beforeSend: () => { },
            success: function (response) {
                // debugger;
                if (response.statusCode == 200) {
                    // debugger;
                    alert(response.message);
                    location.reload();
                }
                else {
                    console.error("[ " + response.statusCode + " ] " + response.message);
                    debugger;
                }
            },
            error: function (errResponse) {
                console.error(errResponse);

            }

        })
    })

    $(".btn-cancel").click(function (e) {
        let orderId = $(this).data("orderid");
        console.log(orderId);

        $.ajax({
            url: "/Order/CheckedOutEdit",
            type: "post",
            data: {
                "orderHeaderId": orderId,
                "updateBy": 3,
                "isDeleted": true
            },
            dataType: "json",
            beforeSend: () => { },
            success: function (response) {
                // debugger;
                if (response.statusCode == 200) {
                    // debugger;
                    alert(response.message);
                    location.reload();
                }
                else {
                    console.error("[ " + response.statusCode + " ] " + response.message);
                    debugger;
                }
            },
            error: function (errResponse) {
                console.error(errResponse);

            }

        })
    })
</script>
