﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMTblMProduct>?
@{
    ViewData["Title"] = "Order Page";
}
<div class="card">
    <div class="card-header">
        <p class="h1">Product Catalog</p>
    </div>
    <div class="card-body">
        <div class="row d-flex justify-content-between m-1 fw-bold">
            <div class="col-3 bg-primary text-center rounded-3 p-3 text-light">
                <p class="m-0 h-2" id="tot-product">0</p>
                <p class="m-0">Total Products</p>
            </div>
            <div class="col-3 bg-success text-center rounded-3 p-3 text-light">
                <p class="m-0 h-2" id="est-price">0</p>
                <p class="m-0">Estimated Price</p>
            </div>
            <div id="button-add-cart" class="btn disabled col-3 bg-warning text-center rounded-3 p-3 text-light" >
                <i class="fa-solid fa-cart-plus"></i>
                <p class="m-0 fw-bold">Add To Cart</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="row">
                @foreach (VMTblMProduct data in Model)
                {
                    <div class="col-md-4 col-lg-3 col-sm-6 mb-3">
                        <div class="card">
                            <img src="/@ViewBag.ImageFolder/@(data.Image??"images-empty.png")" class="card-img-top img-product-catalog " alt="product-img">
                            <div class="card-body">
                                <p class="text-center fs-5 fw-bold" id="product-name-@data.Id">@data.Name</p>
                                <div class="row">
                                    <div class="col-6">Stock</div>
                                    <div id="product-stock-@data.Id" data-stock="@data.Stock" class="col-6 text-end">@string.Format("{0:N0}",data.Stock)</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">Price</div>
                                    <div id="product-price-@data.Id" data-price="@data.Price" class="col-6 text-end">@string.Format("{0:N0}", @data.Price)</div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <div class="btn-group col-12" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-danger col-2" data-id="@data.Id"><i class="fas fa-minus"></i></button>
                                    <div id="product-qty-@data.Id" class="btn btn-light col-6" >0</div>
                                    <button type="button" class="btn btn-success col-2" data-id="@data.Id"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
  
    let listCart = [];    

    $(document).ready(function (e) {
        let product = {};

        let totProduct = parseInt($("#tot-product").text());
        let estPrice = parseFloat($("#est-price").text());

        $(".btn-success").click(function (e) {
            console.log("button success")
            let productId = $(this).data("id");
            let productName = $("#product-name-" + productId).text();
            let productPrice = parseFloat($("#product-price-" + productId).data("price"));
            let productStock = parseInt($("#product-stock-" + productId).data("stock"));
            let productQty = parseInt($("#product-qty-" + productId).text());
            // debugger;

            product = {};

            if (productStock > 0) {
                productStock--;
                totProduct++;
                productQty++;
                estPrice += productPrice;

                product.ProductId = productId;
                product.ProductName = productName;
                product.Price =  productPrice;
                product.Qty = productQty;

                // check if product id is exist in listCart
                let productCartIdx = listCart.map(p => p.ProductId).indexOf(productId);
                if (productCartIdx < 0) {
                    listCart.push(product)
                }
                else{
                    listCart[productCartIdx].Qty = productQty;
                }

                // update UI
                $("#tot-product").text(totProduct);
                $("#est-price").text(estPrice);
                $("#product-stock-" + productId).text(productStock);
                $("#product-stock-" + productId).data("stock", productStock);
                $("#product-qty-" + productId).text(productQty);

                
            }
            if (listCart.length > 0) {
                    $("#button-add-cart").removeClass("disabled");
            }
        })

        $(".btn-danger").click(function (e) {
            console.log("button danger")
            let productId = $(this).data("id");
            let productName = $("#product-name-" + productId).text();
            let productPrice = parseFloat($("#product-price-" + productId).data("price"));
            let productStock = parseInt($("#product-stock-" + productId).data("stock"));
            let productQty = parseInt($("#product-qty-" + productId).text());

            if (productQty > 0) {
                productStock++;
                totProduct--;
                productQty--;
                estPrice -= productPrice;

                // check if product id is exist in listCart
                let productCartIdx = listCart.map(p => p.ProductId).indexOf(productId);
                if (productCartIdx != -1) {
                    listCart[productCartIdx].Qty = productQty;
                }

                if (listCart[productCartIdx].Qty == 0) {
                    listCart.splice(productCartIdx, 1);
                }

                // update UI
                $("#tot-product").text(totProduct);
                $("#est-price").text(estPrice);
                $("#product-stock-" + productId).text(productStock);
                $("#product-stock-" + productId).data("stock", productStock);
                $("#product-qty-" + productId).text(productQty);
            }

            if (listCart.length < 1) {
                    $("#button-add-cart").addClass("disabled");
            };

        })
        
        $("#button-add-cart").click(function (e) {
            console.log(listCart);
            $("#staticModalBodyLg").load(
                "/Order/Details",
                {
                    "listCart":listCart,
                    "totProduct":totProduct,
                    "estPrice":estPrice
                },
                function (res, stat) {
                    if (stat == "success") {
                        $("#staticModalLg").modal("show");
                    }
                    else {
                        debugger;
                        console.log("ada yang salah");
                    }
                }
            )
        })

    })
</script>