html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*CSS LAYOUT*/


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.dropdown-item:hover{
    border-radius : 4px;
}

.the-icons{
    width: 28px;
}

.img-product {
    height: 90px;
    width: 90px;
    border-radius: 5px;
    object-fit: cover;
}
.img-product-detail {
    height: 300px;
    border-radius: 30px;
    width: 300px;
    object-fit: cover;
}
.img-product-catalog {
    width: 100%;
    height: 201px;
    object-fit: cover;
}
.img-profile{
    width: 150px;
    height:150px;
    object-fit:cover;
    border-radius: 50px;
}