﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblMCategory?;
@{
    Layout = null;
}
<div class="card"> 
    <div class="card-body">
        <form  id="frm-category" name="frm-category" method="post" asp-controller="category" asp-action="edit">
            <div class="card">
                <div class="card-header">
                    <p class="h1">Category Edit</p>
                </div>
                <div class="card-body">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="UpdatedBy" value="2" />
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text validate[required]" id="basic-addon1">Nama</span>
                        <input type="text" class="col-9 form-control" placeholder="Input Category Name..." aria-label="CategoryName" name="categoryName" id="categoryName" aria-describedby="basic-addon1" value="@Model.CategoryName" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Description</span>
                        <textarea type="text" class="col-9 form-control" placeholder="Input Category Description..." aria-label="Description" name="Description" aria-describedby="basic-addon1">@Model.Description</textarea>
                    </div>
                    <div>
                        <ul id="errorContainer"></ul>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="input-group-text btn btn-primary" id="btnEdit"><i class="fa-solid fa-floppy-disk"></i>  Edit</button>
                        <button class="btn btn-primary" type="button" id="btnLoading" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                   
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");

    $("#btnLoading").hide();
    
    $("#frm-category").validate({
        errorClass: "text-danger",
        errorLabelContainer: "#errorContainer",
        wrapper: "li",
        rules: {
            CategoryName: {
                "minlength": 3,
                "maxlength": 100
            },
            Description: {
                "minlength": 5
            }
        },
        messages: {
            CategoryName: {
                "required": "Category Name is Required!",
                "minlength": "Category Name must be at least 3 characters",
                "maxlength": "Category Name must not exceed 100 characters"
            },
            Description: {
                "minlength": "Variant Description must be at least 5 characters"
            }
        }
    });

    $("#frm-category").submit(function (event) {
        //Disable form submit
        event.preventDefault();

        if ($("#frm-category").valid()) {
            $.ajax({
                url:'/Category/Edit',
                type:'post',
                data: $("#frm-category").serialize(),
                dataType: 'json',
                beforeSend: function () {
                    //Proses before send data
                    $("#btnEdit").hide();
                    $("#btnLoading").show();
                    
                },
                success: function (response) {
                    // debugger;
                    //Proses success send data
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        location.reload();
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: function (errResponse) {
                    debugger;
                }
            })
        }

    });

</script>