﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Pagination<VMTblMCategory>

@{
    ViewData["Title"] = "Category Page"; 
}

<div class="card">
    <div class="card-header">
        <p class="h1">Category Page</p>
    </div>
    <div class="card-body">
         <div class="d-flex justify-content-between mb-4">
             <div>
                <button type="button" class="btn btn-success mb-3 " title="Add" data-bs-toggle="modal" data-bs-target="#staticModalLg"><strong>+</strong></button>
             </div>
             <div>
                <form id="frmFilter" asp-controller="Category" asp-action="Index">
                    <div class="input-group mb-3">
                        <input id="filter" name="filter" type="text" class="form-control" placeholder="Search Category Name" value="@ViewBag.Filter">
                        <button type="submit" class="input-group-text btn btn-secondary" id="iSearch"><i class="fa-solid fa-search"></i></button>
                    </div>
                </form>
             </div>
         </div>
         <div>
             <table class="table table-hover">
                 <thead>
                     <tr>
                        <th class="text-center align-middle">Id</th>
                        <th class="text-center align-middle">Name</th>
                        <th class="text-center align-middle">Description</th>
                        <th class="text-center align-middle">Action</th>
                     </tr>
                 </thead>
                 <tbody>
                    @if (Model != null)
                    {
                        @foreach (VMTblMCategory data in Model)
                        {
                            <tr>
                                <td class="text-center align-middle">@data.Id</td>
                                <td class="text-center align-middle">@data.CategoryName</td>
                                <td class="text-center align-middle">@(data.Description ?? "-")</td>
                                <td class="text-center align-middle">
                                    <button class="btn btn-secondary" title="Detail" data-bs-toggle="modal" data-bs-target="#staticModalLg" data-id="@data.Id">
                                        <i class="fa-solid fa-list"></i>  
                                    </button>
                                    <button class="btn btn-primary" title="Edit" data-id="@data.Id" data-bs-toggle="modal" data-bs-target="#staticModalLg">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button class="btn btn-danger" title="Delete" data-id="@data.Id" data-bs-toggle="modal" data-bs-target="#staticModalLg">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Data tidak ditemukan</td>
                        </tr>
                    }
                 </tbody>
             </table>
         </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <div>
            <a asp-controller="category" asp-action="index" asp-route-filter="@ViewBag.Filter" asp-route-currPageSize="@ViewBag.PageSize" asp-route-pageNumber="@(Model.PageIndex <= 1 ? Model.PageIndex:Model.PageIndex-1)" type="button" class="btn @(Model.PageIndex <=1 ? "disabled":"")" title="previous page"><i class="fas fa-backward bg-primary px-2 py-1 rounded text-white"></i></a>
            <div class="btn btn-light text-primary">@Model.PageIndex of @Model.TotalPages</div>
            <a asp-controller="category" asp-action="index" asp-route-filter="@ViewBag.Filter" asp-route-currPageSize="@ViewBag.PageSize" asp-route-pageNumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex:Model.PageIndex+1)" type="button" class="btn @(Model.PageIndex >=Model.TotalPages ? "disabled":"")" title="next page"><i class="fas fa-forward bg-primary px-2 py-1 rounded text-white"></i></a>
        </div>

        <div class="d-flex align-items-center mx-2 my-1 gap-3 border border-primary rounded">
            <label class="mx-2 text-primary">Page Size</label>
            <select id="curr-page" class="bg-primary text-white border-primary rounded py-1">
                @for (int i = 5; i <= 20; i += 5)
                {
                    @if (ViewBag.PageSize == i)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<script>
    $("#curr-page").change(function (e) {
        location.replace("/Category/Index?filter=@ViewBag.Filter&orderBy=@ViewBag.OrderBy&currPageSize=" + $(this).val());
    })

    $(".btn-success").click(function (event) {
        // alert("Isi filter = " + $("#filter").val());
        $("#staticModalBodyLg").load("/Category/Add");
        
        // alert ambil data menggunakan attribut
        // alert("isi data = " + $("#staticModal").val());

        // mengubah data 
        // $("#staticModalBody").html("<b>INI STRONG</b>");
    });

    $(".btn-secondary").click(function (e) {
        let catId = $(this).data("id");
        $("#staticModalBodyLg").load("/Category/Detail/" + catId);
    })

    $(".btn-primary").click(function (event) {
        let catId = $(this).data("id");
        $("#staticModalBodyLg").load("/Category/Edit/"+catId);
    });

    $(".btn-danger").click(function (e) {
        let catId = $(this).data("id");
        $("#staticModalBodyLg").load("/Category/Delete/" + catId);
    })

</script>