﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string ImageFolder = (string.IsNullOrEmpty(ViewBag.ImgFolder) ? "images" : ViewBag.ImgFolder);
    ViewData["Title"] = "Test Page";
}

<div>
    <h1 style=" text-align:center ">Selamat datang di test page</h1>
    <p>Ini adalah halaman test page</p>
    <img src="@ImageFolder/DisneyAi.jpeg" />
</div>

@* 
<div>
    <h1 style=" text-align:center ">Selamat datang di test page</h1>
    <p>Ini adalah halaman test page</p>
    <img src="@ViewBag.ImgFolder/DisneyAi.jpeg"/>
</div> *@
