﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="frm-product" method="post" asp-controller="Product" asp-action="Add" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <p class="h1">Product Add</p>
                </div>
                <div class="card-body">
                    <input type="hidden" name="CreateBy" value="1" />
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Nama  <span class="text-danger"> *</span></span>
                        <input type="text" class="col-9 form-control" placeholder="Input Product Name..." aria-label="Name" name="Name" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Price</span>
                        <input type="number" class="col-9 form-control" placeholder="Input Product Price..." aria-label="Price" name="Price" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Stock</span>
                        <input type="number" class="col-9 form-control" placeholder="Input Product Stock..." aria-label="Stock" name="Stock" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Image</span>
                        <input type="file" class="col-9 form-control" placeholder="Input Image..." aria-label="Image" name="ImageFile" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <label class="col-3 input-group-text" for="inputGroupSelect01">Category  <span class="text-danger"> *</span></label>
                        <select class="col-9 form-select" name="CategoryId" id="categoryId" required>
                            <option value="" selected>--Select Product Category--</option>
                            @foreach (VMTblMCategory category in ViewBag.Category)
                            {
                                <option value="@category.Id">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="col-3 input-group-text" for="inputGroupSelect01">Variant  <span class="text-danger"> *</span></label>
                        <select class="col-9 form-select" id="variantId" name="VariantId" required>
                            <option value="" selected>--Select Product Variant--</option>
                        </select>
                    </div>
                    <div>
                        <ul id="errorContainer"></ul>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="input-group-text btn btn-primary" id="btnSubmit"><i class="fa-solid fa-floppy-disk"></i>  Submit</button>
                        <button class="btn btn-primary" type="button" id="btnLoading" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");

    $("#btnLoading").hide();

    $("#categoryId").change(function (event) {
        
        let catId = $(this).val();

        $.ajax({
            url: '/Product/GetVariantByCategoryId',
            data: {catId : catId},
            dataType: 'json',
            success: function (response) {
                // debugger;
                if(response.length > 0){
                    $("#variantId").empty();

                    $.each(
                        response, 
                        function (idx, data) {
                            $("#variantId").append(`<option value="${data.id}">${data.name}</option>`);
                        }
                    );
                }
                else{
                    // alert("Variant with Category id = " + catId + "Can not be found");
                    $("#variantId").empty();
                    $("#variantId").append(`<option value="">Tidak ada variant</option>`);
                }
            },
            error : function(errResponse){
                // debugger;
            },
        })
    });


    $("#frm-product").validate({
        errorClass: "text-danger",
        errorLabelContainer: "#errorContainer",
        wrapper: "li",
        rules: {
            Name: {
                "minlength": 5
            }
        },
        messages: {
            Name: {
                "required":"Product Name must be required!",
                "minlength" : "Product Nmae must be at least 5 characters"
            },
            CategoryId: {
                "required":"Product Category Name must be Selected"
            },
            VariantId: {
                "required": "Product Variant Name must be Selected"
            }
        }
    });

    $("#frm-product").submit(function (e) {
        e.preventDefault();

        
        if ($(this).valid()) {
            $.ajax({
                url: '/Product/Add',
                type:'post',
                data:new FormData($('#frm-product')[0]),
                processData: false,
                contentType: false,
                beforeSend: function(){
                    //Proses before send data
                    $("#btnSubmit").hide();
                    $("#btnLoading").show();
                    // debugger;
                },
                success:function(response){
                    // debugger;
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        console.log(response.message);
                        location.reload();
                    }
                    else{
                        console.log(response.message);
                    }
                },
                error: function(errorResponse){
                    console.log("WOY ERROR")
                    debugger;
                }

            })
        }
    })
</script>