﻿@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblMProduct?
@{
    Layout = null;
}

<div class="card">
    <div class="card-header text-center">
        <p class="h3">@(Model != null ? Model.Name : "Product Not Found")</p>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <div class="row d-flex justify-content-center ">
                <img class="img-product-detail" src="/@ViewBag.ImageFolder/@(Model.Image??"images-empty.png")" />
            </div>
            <hr />
            <div class="row">
                <div class="col-2 fw-bold"><b></b>Price</div>
                <div class="col-10">@((Model.Price ?? 0).ToString("N1", CultureInfo.CreateSpecificCulture("es-ES")))</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-2 fw-bold"><b></b>Stock</div>
                <div class="col-10">@Model.Stock</div>
            </div>
            <hr />
            
            
            <div class="row">
                <div class="col-2 fw-bold">CategoryId</div>
                <div class="col-4">@Model.CategoryId</div>
                <div class="col-2 fw-bold">CategoryName</div>
                <div class="col-4">@Model.CategoryName</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-2 fw-bold">VariantId</div>
                <div class="col-4">@Model.VariantId</div>
                <div class="col-2 fw-bold">VariantName</div>
                <div class="col-4">@Model.VariantName</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-2 fw-bold">CreateBy</div>
                <div class="col-4">@Model.CreateBy</div>
                <div class="col-2 fw-bold">UpdateBy</div>
                <div class="col-4">@(Model.UpdatedBy != null ? Model.UpdatedBy : "-")</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-2 fw-bold">CreateDate</div>
                <div class="col-4">@Model.CreateDate?.ToString("dd-MM-yyyy")</div>
                <div class="col-2 fw-bold">UpdateDate</div>
                <div class="col-4">@(Model.UpdateDate?.ToString("dd-MM-yyyy") != null ? Model.UpdateDate?.ToString("dd-MM-yyyy") : "-")</div>
            </div>
        }
        else
        {
            <p>---Tidak ditemukan---</p>
        }
    </div>
</div>
<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");
</script>