﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblMProduct?;
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="frm-product" method="post" asp-controller="Product" asp-action="Edit" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <p class="h1">Product Edit</p>
                </div>
                <div class="card-body">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="UpdatedBy" value="2" />
                    <input type="hidden" name="Image" value="@Model.Image" />
                    <div class="row d-flex justify-content-center mb-3">
                        <img class="img-product-detail" src="/@ViewBag.ImageFolder/@(Model.Image??"images-empty.png")" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text" id="basic-addon1">Nama  <span class="text-danger"> *</span></span>
                        <input type="text" class="col-9 form-control" placeholder="Input Product Name..." aria-label="Name" name="Name" aria-describedby="basic-addon1" value="@Model.Name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text">Price</span>
                        <input value="@Model.Price" type="number" class="col-9 form-control" placeholder="Input Product Price..." aria-label="Price" name="Price">
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text">Stock</span>
                        <input value="@Model.Stock" type="number" class="col-9 form-control" placeholder="Input Product Stock..." aria-label="Stock" name="Stock">
                    </div>
                    <div class="input-group mb-3">
                        <span class="col-3 input-group-text">Image</span>
                        <input type="file" class="col-9 form-control" placeholder="Input Image..." aria-label="Image" name="ImageFile" value="@Model.Image">
                    </div>
                    <div class="input-group mb-3">
                        <label class="col-3 input-group-text" for="inputGroupSelect01">Category  <span class="text-danger"> *</span></label>
                        <select class="col-9 form-select" name="CategoryId" id="categoryId" required>
                            <option value="" selected>--Select Product Category--</option>
                            @foreach (VMTblMCategory category in ViewBag.Category)
                            {
                                if (category.Id == Model.CategoryId)
                                {
                                    <option value="@Model.CategoryId" selected>@Model.CategoryName</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.CategoryName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="col-3 input-group-text" for="inputGroupSelect01">Variant  <span class="text-danger"> *</span></label>
                        <select class="col-9 form-select" id="variantId" name="VariantId">
                            <option value="@Model.VariantId" selected>@Model.VariantName</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="input-group-text btn btn-primary" id="btnEdit"><i class="fa-solid fa-floppy-disk"></i>  Edit</button>
                        <button class="btn btn-primary" type="button" id="btnLoading" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");

    $("#btnLoading").hide();


    $("#categoryId").click(function (event) {

        let catId = $(this).val();
        // alert("Category Name dipilih " + catId);

        $.ajax({
            url: '/Product/GetVariantByCategoryId',
            data: { catId: catId },
            dataType: 'json',
            success: function (response) {
                // debugger;
                if (response.length > 0) {
                    $("#variantId").empty();

                    $.each(
                        response,
                        function (idx, data) {
                            $("#variantId").append(`<option value="${data.id}">${data.name}</option>`);
                        }
                    );
                }
                else {
                    // alert("Variant with Category id = " + catId + "Can not be found");
                    $("#variantId").empty();
                    $("#variantId").append(`<option value="">Tidak ada variant</option>`);
                }
            },
            error: function (errResponse) {
                // debugger;
            },
        })
    });

    // $("#variantId").change(function (event) {
    //     alert("Variant Name dipilih");
    // });

    $("#frm-product").validate();

    $("#frm-product").submit(function (e) {
        e.preventDefault();
        // debugger;

        if ($(this).valid()) {
            $.ajax({
                url: '/Product/Edit',
                type: 'post',
                data: new FormData($('#frm-product')[0]),
                processData: false,
                contentType: false,
                beforeSend: function () {
                    $("#btnEdit").hide();
                    $("#btnLoading").show();
                },
                success: function (response) {
                    // debugger;
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        console.log(response.message);
                        location.reload();
                    }
                    else {
                        console.log(response.message);
                    }
                },
                error: function (errorResponse) {
                    console.log("WOY ERROR")
                    debugger;
                }

            })
        }
    })
</script>