﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization
@model Pagination<VMTblMProduct>

@{
    ViewData["Title"] = "Product Page";
}

<div class="card">
    <div class="card-header">
        <p class="h1">Product Page</p>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between mb-4">
            <div>
                <button type="button" class="btn btn-success mb-3 " title="Add" data-bs-toggle="modal" data-bs-target="#staticModalLg"><strong>+</strong></button>
            </div>
            <div>
                <form id="frmFilter" asp-controller="Product" asp-action="Index">
                    <div class="input-group mb-3">
                        <input id="filter" name="filter" type="text" class="form-control" placeholder="Search Product Name" value="@ViewBag.Filter">
                        <button type="submit" class="input-group-text btn btn-secondary" id="iSearch"><i class="fa-solid fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center align-middle">Image</th>
                        <th class="text-center align-middle">Id</th>
                        <th class="text-center align-middle">Name</th>
                        <th class="text-center align-middle">Category</th>
                        <th class="text-center align-middle">Variant</th>
                        <th class="text-center align-middle">Price</th>
                        <th class="text-center align-middle">Stock</th>
                        
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (VMTblMProduct data in Model)
                        {
                            <tr>
                                <td class="text-center align-middle p-1 "><img class="img-product" src="/@ViewBag.ImageFolder/@(data.Image??"images-empty.png")" /></td>
                                <td class="text-center align-middle">@data.Id</td>
                                <td class="text-center align-middle">@data.Name</td>
                                <td class="text-center align-middle">@data.CategoryName</td>
                                <td class="text-center align-middle">@data.VariantName</td>
                                <td class="text-center align-middle">@((data.Price ?? 0).ToString("N1", CultureInfo.CreateSpecificCulture("es-ES")))</td>
                                <td class="text-center align-middle">@data.Stock</td>
                                <td class="text-center align-middle">
                                    <button class="btn btn-secondary" title="Detail" data-bs-toggle="modal" data-bs-target="#staticModalLg" data-id="@data.Id">
                                        <i class="fa-solid fa-list"></i>  
                                    </button>
                                    <button class="btn btn-primary" title="Edit" data-bs-toggle="modal" data-bs-target="#staticModalLg" data-id="@data.Id">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button class="btn btn-danger" title="Delete" data-bs-toggle="modal" data-bs-target="#staticModalLg" data-id="@data.Id">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Data tidak ditemukan</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <div>
            <a asp-controller="product" asp-action="index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderBy " asp-route-currPageSize="@ViewBag.PageSize" asp-route-pageNumber="@(Model.PageIndex <= 1 ? Model.PageIndex:Model.PageIndex-1)" type="button" class="btn @(Model.PageIndex <=1 ? "disabled":"")" title="previous page"><i class="fas fa-backward bg-primary px-2 py-1 rounded text-white"></i></a>
            <div class="btn btn-light text-primary">@Model.PageIndex of @Model.TotalPages</div>
            <a asp-controller="product" asp-action="index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderBy " asp-route-currPageSize="@ViewBag.PageSize" asp-route-pageNumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex:Model.PageIndex+1)" type="button" class="btn @(Model.PageIndex >=Model.TotalPages ? "disabled":"")" title="next page"><i class="fas fa-forward bg-primary px-2 py-1 rounded text-white"></i></a>
        </div>
        
        <div class="d-flex align-items-center mx-2 my-1 gap-3 border border-primary rounded">
            <label class="mx-2 text-primary">Page Size</label>
            <select id="curr-page" class="bg-primary text-white border-primary rounded py-1">
                @for(int i =5; i<=20; i += 5)
                {
                    @if(ViewBag.PageSize == i)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<script>
    $("#curr-page").change(function (e){
        location.replace("/Product/Index?filter=@ViewBag.Filter&orderBy=@ViewBag.OrderBy&currPageSize=" + $(this).val());
    })

    $(".btn-success").click(function (event) {
        // alert("Isi filter = " + $("#filter").val());
        $("#staticModalBodyLg").load("/Product/Add");
    });

    $(".btn-primary").click(function (event) {
        let catId = $(this).data("id");
        $("#staticModalBodyLg").load("/Product/Edit/" + catId);
    });

    $(".btn-secondary").click(function (e) {
        let catId = $(this).data("id");
        $("#staticModalBodyLg").load("/Product/Detail/" + catId);
    });

    $(".btn-danger").click(function (e) {
        let catId = $(this).data("id");
        $("#staticModalBodyLg").load("/Product/Delete/" + catId);
    })
</script>