﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int;
@{
    Layout = null;
}
<div class="card">
    <div class="card-body d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-exclamation-triangle float-xxl-start text-danger m-2"></i>
        <span> Are you sure want to <span class="text-danger fw-bold">DELETE</span> Varinat with ID = @Model ?</span>
    </div>
    <div class="card-footer">
        <button class="btn btn-danger" id="btnDelete">Confirm</button>
        <button class="btn btn-danger" type="button" id="btnLoading" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
        <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
</div>

<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");

    $("#btnLoading").hide();

    $("#btnDelete").click(() => {
        $.ajax({
            url: '/Variant/Delete',
            type: 'post',
            data: { "id": @Model, "userId": 3 },
            dataType: 'json',
            beforeSend: function () {
                //Proses before send data
                $("#btnDelete").hide();
                $("#btnLoading").show()
            },
            success: function (response) {
                // debugger;
                //Proses success send data
                if (response.statusCode == 200) {
                    location.reload();
                }
                else {
                    alert(response.message);
                }
            },
            error: function (errResponse) {
                debugger;
            }
        })
    })
</script>