﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblMVariant?
@{
    Layout = null;
}
<div class="card">
    <div class="card-header h5">
        @(Model != null ? Model.Name : "Variant Not Found")
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-2"><b></b>Description</div>
                <div class="col-10">@(Model.Description != null ? Model.Description:"-")</div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-2">CategoryId</div>
                <div class="col-4">@Model.CategoryId</div>
                <div class="col-2">CategoryName</div>
                <div class="col-4">@Model.CategoryName</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-2">CreateBy</div>
                <div class="col-4">@Model.CreateBy</div>
                <div class="col-2">UpdateBy</div>
                <div class="col-4">@(Model.UpdatedBy != null ? Model.UpdatedBy : "-")</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-2">CreateDate</div>
                <div class="col-4">@Model.CreateDate?.ToString("dd-MM-yyyy")</div>
                <div class="col-2">UpdateDate</div>
                <div class="col-4">@(Model.UpdateDate?.ToString("dd-MM-yyyy") != null ? Model.UpdateDate?.ToString("dd-MM-yyyy") : "-")</div>
            </div>
        }
        else
        {
            <p>---Tidak ditemukan---</p>
        }
    </div>
</div>

<script>
    $("#staticModalLgLabel").html("@ViewBag.Title");
</script>