﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<form id="frm-login" asp-controller="auth" asp-action="login" method="post"  >
    <div class="card">
        <div class="card-header">
            <p class="h2">LOGIN</p>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label for="text-email" class="input-group-text col-2">E-mail</label>
                <input type="email" name="Email" id="text-email" class="form-control" placeholder="E-mail" required>
            </div>
            <div class="input-group mb-3">
                <label for="text-password" class="input-group-text  col-2">Password</label>
                <input type="password" name="Password" id="text-password" class="form-control" placeholder="Password" required>
            </div>
            <div>
                <ul id="errContainer"></ul>
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
    <div class="text-center my-3">
        <p>Belum punya akun? <a asp-controller="auth" asp-action="register" type="button">Register</a></p>
    </div>
</form>
<script>
    $("#frm-login").validate({
        errorClass:"text-danger",
        errorLabelContainer:"#errContainer",
        wrapper:"li",
        messages: {
            Email: {
                "required":"Email is Required!"
            },
            Password: {
                "required":"Password is Required!"
            }
        }
    })
</script>

