﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMTblMCustomer?
@{
    // Layout = "_Layout-Baru";
    ViewData["Title"] = "Profile Page";
}

<div class="card">
    <div class="card-header">
        <p class="h1">Profile page</p>
    </div>
    <div class="card-body">
        <div class="d-flex gap-3">
            <div class="d-flex flex-column gap-3 w-25">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="px-2 py-1 bg-primary rounded-circle text-white z-index-1 position-absolute " style="
                             margin-left: 135px;"><i class="fa-solid fa-pen"></i>
                         </div>
                        <img class="img-profile mb-3" src="/@ViewBag.ImageFolder/DisneyAi.jpeg" />
                        <p class="h2 m-0">@Model.Name</p>
                        <p class="m-0">@Model.Email</p>
                        <p class="fst-italic">@(Model.RoleId == 1 ? "Admin" : "Kamu siapa?")</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header h3">Catatan</div>
                    <div class="card-body">
                        lorem ipsum...  
                    </div>
                </div>
            </div>
            <div class="card w-75">
                <div class="card-header h3">Profile</div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <label class="input-group-text col-2">Email</label>
                        <input type="text" class="form-control" value="@Model.Email">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-2">Password</label>
                        <input type="text" class="form-control" value="@Model.Password">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-2">Address</label>
                        <input type="text" class="form-control" value="@Model.Address">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-2">Phone</label>
                        <input type="text" class="form-control" value="@(Model.Phone ?? "-")">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-2">RoleId</label>
                        <input type="text" class="form-control" value="@(Model.RoleId != null ? Model.RoleId : "0")">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-2">Create By</label>
                        <input class="col-4 form-control" value="@Model.CreateBy">
                        <label class="input-group-text col-2">Create Date</label>
                        <input class="col-4 form-control" value="@Model.CreateDate?.ToString("dd-MM-yyyy")">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text col-2">Update By</label>
                        <input class="col-4 form-control" value="@(Model.UpdatedBy != null ? Model.UpdatedBy : "-")">
                        <label class="input-group-text col-2">Update Date</label>
                        <input class="col-4 form-control" value="@(Model.UpdateDate?.ToString("dd-MM-yyyy") != null ? Model.UpdateDate?.ToString("dd-MM-yyyy") : "-")">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

