﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register Page";
}

<div class="card border-0" id="login-place-holder" style="
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40rem;">
    <div class="card">
        <div class="card-header h1">Register Page</div>
        <form asp-controller="" asp-action="" method="post">
            <div class="card-body">
                <div class="input-group mb-3">
                    <label class="col-2 input-group-text" id="basic-addon1">Nama <span class="text-danger"> *</span></label>
                    <input type="text" class="col-9 form-control" placeholder="Input Customer Name..." aria-label="Name" name="Name" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <label for="text-email" class="input-group-text col-2">E-mail</label>
                    <input type="email" name="Email" id="text-email" class="form-control" placeholder="E-mail">
                </div>
                <div class="input-group mb-3">
                    <label for="text-password" class="input-group-text  col-2">Password</label>
                    <input type="password" name="Password" id="text-password" class="form-control" placeholder="Password">
                </div>
                <div class="input-group mb-3">
                    <label class="col-2 input-group-text" id="basic-addon1">Address <span class="text-danger"> *</span></label>
                    <input type="text" class="col-9 form-control" placeholder="Input Customer Address..." aria-label="Address" name="Address" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <label class="col-2 input-group-text" id="basic-addon1">Phone</label>
                    <input type="text" class="col-9 form-control" placeholder="Input Customer Phone..." aria-label="Phone" name="Phone" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <label class="col-2 input-group-text" id="basic-addon1">Role Id <span class="text-danger"> *</span></label>
                    <input type="number" class="col-9 form-control" placeholder="Input Customer Role Id..." aria-label="RoleId" name="RoleId" aria-describedby="basic-addon1" required>
                </div>
            </div>
            <div class="card-footer text-end">
                <button type="submit" id="btn-register" onclick="alert('apa','warning')" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
    <div class="text-center my-3">
        <p>Sudah punya akun? <a asp-controller="auth" asp-action="index" type="button">Login</a></p>
    </div>
</div>


<script>
    // $("#btn-register").click(function)
</script>